.terraform/*
.terraform/

.terraform/plugins/
.terraform/plugins/*

.terraform/plugins/linux_amd64/
.terraform/plugins/linux_amd64/*

.terraform/plugins/linux_amd64/terraform-provider-aws_v3.14.0_x5

.idea/
.idea/*

terraform.tfstate
terraform.tfstate.backup
